<ion-header>
  <ion-toolbar color=primary>
    <ion-title style="text-align:center;">
      TV Shows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="assets/images/breakingbad.jpg" width=400px height=250px/>
      <div class="card-title" >Breaking Bad</div>
    </ion-card>
    <ion-card>
        <img src="assets/images/twd.jpg" width=400px height=250px/>
        <div class="card-title">The Walking Dead</div>
      </ion-card>
    <ion-card>
      <img src="assets/images/breakingbad.jpg"/>
      <div class="card-title">Breaking Bad</div>
    </ion-card>
    <ion-card>
      <img src="assets/images/breakingbad.jpg"/>
      <div class="card-title">Breaking Bad</div>
    </ion-card>
    <ion-card>
        <img src="assets/images/breakingbad.jpg"/>
        <div class="card-title">Breaking Bad</div>
    </ion-card>
</ion-content>
