<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TV-SERIES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" href=list>
      <img src="/assets/images/home.jpg" alt="" />
    </ion-card>
    <ion-card >
      <p>This app was made for all the people who loves cinematography.</p>
      <p>with TV-Series you can see all the now movies and shows , watch trailers , create your own watchlist and mark all the shows/movies that you watched already</p>
    </ion-card>
</ion-content>
